html, body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

body{
	background-color: #FFF;
	color: #EEE;
	font-family: 'Open Sans', Arial,Verdana, Arial, Sans-serif;
	font-weight: 300;
	text-align: center;
}

p{
	font-size: 18px;
	line-height: 1.5;
}

h3{
	font-size: 20px;
	margin: 10px 0 0 0;
	padding: 3px 5px;
	padding: 10px;
	background-color: #81796c;
	border-bottom: 2px solid #FFF;
	border-right: 2px solid #FFF;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
}


.clear-both{
	clear: both;	
}

a img{
	border: 0;	
}

.dark{
	color: #81796c;
}

.center{
	text-align: center;
}

#container{
	background-color: #aca699;
	width: 1150px;
	padding: 45px 0;
	border-left: 1px solid #81796c;
	border-right: 1px solid #81796c;
	text-align: left;
	margin: 0px auto;
}

#heading{
	text-align: center;	
}

#home #intro{
	text-align: center;	
	margin: 30px 0;
}

#home #intro p{
	color: #81796c;
	font-size: 20px;
	width: 860px;	
	margin: 0px auto;
}
	
.white{
	color: #FFF;	
}

#nav{
	text-align: center;
	border-bottom: 2px solid #81796c;
	width: 900px;
	padding-bottom: 20px;
	margin: 0px auto;
}

#content{
	text-align: left;
}

#home a{
	text-decoration: none;
	color: #FFF;	
}

#home #left-pane {
	box-sizing: border-box;
	width: 50%;
	border-right: 2px solid #81796c;
	float: left;
	padding: 40px;
}

#home #right-pane {
	box-sizing: border-box;
	width: 50%;
	padding: 40px;
	float: left;
}

#home #left-pane img{
	margin-top: 30px;
	margin-left: -1px;
}

#home #left-pane small{
	font-size: 60%;
}

#home #appointment-heading{
	margin-top: 50px;
	margin-left: 30px;
}

#home #map{
	margin-top: 30px;
	margin-left: 35px;
	max-width: 100%;
}

#about #nav{
	padding-top: 30px;
}

#about #left-pane{
	width: 560px;
	float: left;
}

#about #right-pane{
	box-sizing: border-box;
	float: left;
	padding: 40px;
	padding-top: 40px;
	width: 50%;
}

#about #left-pane img{
	position: relative;
	top: 50px;
	left: 140px;
}

